<!DOCTYPE html>
<html>
  <head>
    <title>Lab4</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="<%= root_path %>">Lab 4</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
          <li><a href="<%= root_path %>">Home</a></li>
          <li><a href="<%= countries_path %>">Countries</a></li>
          <li><a href="<%= airports_path %>">Airports</a></li>
          <li><a href="<%= planes_path %>">Planes</a></li>
          <li><a href="<%= trips_path %>">Trips</a></li>
          <li><a href="<%= users_path %>">Users</a></li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </nav>
  <% flash.each do |key, value| %>
    <%= content_tag :div, value, class: "alert alert-#{key}" %>
  <% end %>
  <div class="container">
    <div class="starter-template">
      <%= yield %>
    </div>
  </div>
  </body>
</html>
