<h1>Trips</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Actions</th>
      <th>Id</th>
      <th>Time In</th>
      <th>Time Out</th>
      <th>Time of flight (min)</th>
      <th>Plane</th>
      <th>Airport From</th>
      <th>Airport To</th>
      <th>Cost</th>
      <th>Users</th>
    </tr>
  </thead>
  <tbody>
    <% @trips.each do |trip| %>
      <tr>
        <td class="action-column">
        <%= link_to 'Show', trip_path(trip) %> |
        <%= link_to 'Edit', edit_trip_path(trip) %> |
        <%= link_to 'Delete', trip_path(trip), method: :delete, data: {confirm: 'Are you sure?'} %>
        </td>
        <td><%= trip.id %></td>
        <td><%= trip.time_out.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= trip.time_in.strftime("%Y/%m/%d %H:%M") %></td>
        <td><%= trip.time_of_flight %></td>
        <td><%= trip.plane_name %></td>
        <td><%= trip.airport_from_name %></td>
        <td><%= trip.airport_to_name %></td>
        <td>$<%= trip.cost %></td>
        <td><%= trip.get_trip_users %></td>
      </tr>
    <% end %>
    <%= '<td colspan="4">No trips found</td>'.html_safe if @trips.empty? %>
  </tbody>
</table>

<a href="<%= new_trip_path %>">Create Trip</a>