<div class="well well-lg">
  <ul>
    <li>ID: <%= @trip.id %></li>
    <li>Time Out: <%= @trip.time_out %></li>
    <li>Time In: <%= @trip.time_in %></li>
    <li>Cost: <%= @trip.cost %></li>
    <li>Plane: <%= @trip.plane.name %></li>
  </ul>
</div>
<%= link_to '< Back', trips_path %>